extends ../layout

block content

 ul.menu(role='navigation' title='Side Navigation')
     li
      a.button.ks(href='/projects') Projects
     li
      a.button.ks(href='/projects/add') Add Project
     li
      a.button.ks(href='/tasks/') Tasks
     li
      a.button.ks(href='/tasks/addTask') Add Task

 .row
    h1  Tasks

 if message
        .alert.callout
            i.fi-alert
            span  #{success.msg}

 .row.tasks
    table
        thead
            tr
                th Task
                th Started at
                th Finished at
                th Actions
        tbody
            if tasks
            - for (var x = 0; x <tasks.length; x++)
                tr
                    td #{tasks[x].name}
                    td(id='started-at-#{x}')
                    td(id='finished-at-#{x}')
                    td
                        a(href='#' onclick='startTimer(#{x})') Start  |  
                        a(href='#' onclick='stopTimer(#{x})') End



    
    

