extends ../layout

block content

 ul.menu(role='navigation' title='Side Navigation')
     li
      a.button.ks(href='/projects') Projects
     li
      a.button.ks(href='/projects/add') Add Project
     li
      a.button.ks(href='/tasks/') Tasks
     li
      a.button.ks(href='/tasks/addTask') Add Task


 .row
   div.projects.large-6.small-1.columns(data-equalizer-watch)
    ul
        li.thumbnail 
            img(src="../../uploads/projects/#{project.projectImage}")
        li 
         h2 #{project.projectTitle}
        li #{project.projectClient}
        li #{project.projectDesc}

    ul
        li 
            a.button.secondary(href='../projects/#{project.id}/edit') Edit

 .row
    ul
    if tasks
     - for (var x = 0; x <tasks.length; x++)
        li #{tasks[x].name}